* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    font-family: 'Roboto', serif;
}

header {
    background-color: white;
    grid-column: 2 / 3;

    display: grid;
    grid-template-rows: 1fr 1fr;
}

header .top-row {
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

header .bottom-row {
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

nav {
    background-color: #0C7489;
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / span 2;

    display: grid;
    grid-template-rows: 1fr 5fr 7fr;
    gap: 5px;
}

nav h1 {
    padding: 12px;
}

nav ul {
    padding: 12px;
}

nav ul li {
    list-style-type: none;
    margin: 10px 0;

    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

nav ul li a:link {
    text-decoration: none;
    color: white;
}

nav ul li a:visited {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    text-decoration: none;
    color: white;

}

nav ul li a:focus {
    text-decoration: none;
    color: white;
}

nav ul li a:active {
    text-decoration: none;
    color: white;
}

main {
    background-color: #cccccc;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
}

main #projects {
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
}

main h2 {
    margin: 10px;
}

main #projects .cards {
    display: grid;
    margin: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}

main #projects .project {
    background-color: white;
    height: 150px;
    border-left: 5px solid #119da4;
    border-radius: 5px;
    padding: 30px;
}

main #announcements .content {
    background-color: white;
    padding: 10px;
    margin: 10px;

    display: grid;
    grid-template-rows: repeat(3. 1fr);
    gap: 5px;
}

main #trending .trending-content {
    background-color: white;
    padding: 10px;
    margin: 10px;

    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}